# =========================
# PostgreSQL
# =========================

POSTGRES_PASSWORD=
DB_PASSWORD=


# =========================
# RabbitMQ
# =========================

RABBITMQ_PASSWORD=


# =========================
# MinIO / S3
# =========================

S3_ACCESS_KEY=
S3_SECRET_KEY=
MINIO_ROOT_PASSWORD=


# =========================
# Qdrant
# =========================

QDRANT_API_KEY=


# =========================
# Elasticsearch
# =========================

ELASTIC_API_KEY=


# =========================
# AI providers
# =========================

VSEGPT_API_KEY=
OPENROUTER_API_KEY=